.banner {
  display: flex;
  max-height: inherit;
  padding-top: 6rem;
  padding-bottom: 18rem;

  .title {
    font-size: 3rem;
    color: var(--primary);
  }
}

.bg-banner {
  background-image: url("../../images/main-background.jpg");
  background-position: center;
  background-size: cover;
}